@using Tavern.Models;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tavern</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DnDnder.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/FormStyles.css" asp-append-version="true" />
</head>

<body onload="getBannerImageForPage()">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow navBarZOverride">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><h6 class="logoText">Tavern</h6></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    
    <div class="bannerContainer">
        <img class="bannerImage" id="bannerImageId" src="/images/bannerImage.png" alt="Banner Image"/>
    </div>

    <div class="layoutContainer">
        <div class="col-sm-8 bodyBackGroundStripe"
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    
    <!-- Modals -->
    <!-- Character Img Grid Modal-->
    <div id="CharacterImgModal" class="modal fade" tabindex="-1" role="dialog">
	    <div class="modal-dialog modal-xl" role="document">
		    <div class="modal-content modal-xl">
			    <div class="modal-header modal-xl">
				    <h5 class="modal-title">Select Character Image</h5>
				    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <hr />
			    </div>
			    <div class="modal-body modal-xl">
				    <div class="grid-container">
                        @{
                            var count = 1;
                            var pathID = "characterImg";
                            foreach (var img in Util.getAllCharacterImages())
                            {
                                pathID += @count;
                                <div class="grid-item">
							        <img src="@Url.Content(@img)" class="grid-img" alt="Character Image"/>
                                    <input type="hidden" value="@img" id="@pathID" />
							        <input type="radio" name="CharacterImg" id=@count value=@count />
                                </div>
                                count++;
                                pathID = "characterImg";
                            }
				        }
				    </div>
			    </div>
			    <div class="modal-footer modal-xl">
				    <input id="btnSaveCharacterImg" type="button" value="Save" class="btn btn-primary" />
				    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			    </div>
		    </div>
	    </div>
    </div>
    <!-- Campaign Img Grid Modal-->
    <div id="CampaignImgModal" class="modal fade" tabindex="-1" role="dialog">
	    <div class="modal-dialog modal-xl" role="document">
		    <div class="modal-content modal-xl">
			    <div class="modal-header modal-xl">
				    <h5 class="modal-title">Select Campaign Image</h5>
				    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <hr />
			    </div>
			    <div class="modal-body modal-xl">
				    <div class="grid-container">
                        @{
                            count = 1;
                            pathID = "campaignImg";
                            foreach (var img in Util.getAllCampaignImages())
                            {
                                //var imgValue = @ViewData["CharacterImgPaths"] as string[];
                                pathID += @count;
                                <div class="grid-item">
							        <img src="@Url.Content(@img)" class="grid-img" alt="Campaign Image"/>
                                    <input type="hidden" value="@img" id="@pathID" />
							        <input type="radio" name="CampaignImg" id=@count value=@count />
                                </div>
                                count++;
                                pathID = "campaignImg";
                            }
				        }
				    </div>
			    </div>
			    <div class="modal-footer modal-xl">
				    <input id="btnSaveCampaignImg" type="button" value="Save" class="btn btn-primary" />
				    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			    </div>
		    </div>
	    </div>
    </div>

    <footer class="footer text-muted footerText navBarZOverride">
        <div class="footerContainer">
            &copy; 2022 - Tavern
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" ></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>