<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tavern</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DnDnder.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/FormStyles.css" asp-append-version="true" />
</head>

<body onload="getBannerImageForPage()">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow navBarZOverride">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><h6 class="logoText">Tavern</h6></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    
    <div class="bannerContainer">
        @*@if(@ViewData["Title"].Equals("Home - DnDnder"))
        {
            Console.Write("Title Retrieved was " + @ViewData["Title"]);
            <img id="bannerImage"  src="~/images/bannerImage.png" alt="A party gathers in an inn" />
        }
        else if(@ViewData["Title"].Equals("Register - DnDnder"))
        {
            Console.Write("Title Retrieved was " + @ViewData["Title"]);
            <img id="bannerImage"  src="~/images/RegisterBannerImage.jpg" alt="A party gathers in an inn" />
        }
        else
        {  
            Console.Write("Title Retrieved was " + @ViewData["Title"]);
            <img id="bannerImage"  src="~/images/bannerImage.png" alt="A party gathers in an inn" />
        }*@

        <img class="bannerImage" src="/images/bannerImage.png" alt=""/>
    </div>

    <div class="layoutContainer">
        <div class="col-sm-8 bodyBackGroundStripe"
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    

    <footer class="footer text-muted footerText navBarZOverride">
        <div class="footerContainer">
            &copy; 2022 - Tavern
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>