@model DnDnder.Models.campaign

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>campaign</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.campaignName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.campaignName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.worldName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.worldName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.details)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
