@model IEnumerable<Tavern.Models.Campaign>
@using Tavern.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Your Campaigns</h1>

<p>
     <input type="button" class="btn btn-primary" value="Create New" onclick="location.href='@Url.Action("Create","Campaigns")'" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p><b>Campaigns</b></p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.CampaignName)</b>
                    <br>
                    <br>
                    @Html.DisplayFor(modelItem => item.WorldName)
                </td>
                <td>
                    <div class="form-group">
                        @{
                            ListedCampaign isListed;
                            Dictionary<int, ListedCampaign> listings = (Dictionary<int, ListedCampaign>)@ViewData["listedCampaigns"];
                            if(listings.TryGetValue(@item.Id, out isListed))
                            {
                                var listingID = isListed.ListingID;
                                <form asp-controller="Campaigns" asp-action="DelistCampaign" method="post"
                                    onclick="return confirm('Are you sure you want to delist @item.CampaignName?\n\n All players will be removed, and any chat history deleted')">
                                    <input type="hidden" name="listingID" value="@listingID"/>
                                    <button type="submit" class="btn btn-danger">Delist Campaign</button>
                                </form>
                            }
                            else
                            {
                                @using(Html.BeginForm("Create","CampaignListings"))
                                {
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="submit" class="btn btn-primary" value="List Campaign"/>
                                }
                            }
                            <hr>
                            <input type="button" class="btn btn-primary" value="Edit" onclick="location.href='@Url.Action("Edit","Campaigns",new {id = @item.Id})'" />
                            <input type="button" class="btn btn-primary" value="Details" onclick="location.href='@Url.Action("Details","Campaigns",new {id = @item.Id})'" />
                            <input type="button" class="btn btn-primary" value="Delete" onclick="location.href='@Url.Action("Delete","Campaigns",new {id = @item.Id})'" />
                        }
                     </div>
                </td>
            </tr>
        }
    </tbody>
</table>
