@model Tavern.Models.CampaignListing
@using Tavern.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Campaign.CampaignName)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Campaign.WorldName)</h4>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Campaign Details
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Campaign.Details)
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Current Players</th>
            </tr>
        </thead>
        <tbody>
            @if(@ViewData["CharacterList"] != null)
            {
                @foreach(var item in @ViewData["CharacterList"] as List<Character>)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Class)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                }
            }
            else
            {
                <td>
                    No active players currently.
                </td>
            }
            <tr>
                <td>
                    <input type="button" class="btn btn-primary" value="View Chat" 
                           onclick="location.href='@Url.Action("GroupMessages","CampaignListings",new {id = @Model.Id})'" />
                </td>
            </tr>
        </tbody>
    </table>

        <table class="table">
        <thead>
            <tr>
                <th>d4</th>
                <th>d6</th>
                <th>d8</th>
            </tr>
        </thead>
        <tbody>
              @using(Html.BeginForm("RollDice","CampaignListings"))
              {
                  <input type="text" name="d4"/>
                  <input type="text" name="d6"/>
                  <input type="text" name="d8"/>
                  <input type="submit" value="Roll Dice"/>
              }
        </tbody>
    </table>

</div>
<div>
     <input type="button" class="btn btn-primary" value="Back To List" onclick="location.href='@Url.Action("Index","CampaignListings")'" />
</div>
