@model Tavern.Models.CampaignListing
@using Tavern.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script>
        var CampaignImg =
        {
            campaignImgPath: @Util.getCampaignImageById(@Model.Campaign.CampaignImg);
        }
</script>

<h1>@Html.DisplayFor(model => model.Campaign.CampaignName)</h1>

<html>
    <body>
        <div>
            <h4>@Html.DisplayFor(model => model.Campaign.WorldName)</h4>
            <img src="@Util.getCampaignImageById(@Model.Campaign.CampaignImg)" class="creation-img">
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Campaign Details
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Campaign.Details)
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Current Players</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ViewData is coming from controller: CampaignListing, Action: Details (HTTP GET) -->
                    @if(@ViewData["CharacterList"] != null)
                    {
                        @foreach(var item in @ViewData["CharacterList"] as List<Character>)
                        {
                            <tr>
                                <td>
                                    <div>
                                        <img src="@Util.getCharacterImageById(@item.CharacterImg)" class="list-img">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <b>@Html.DisplayFor(modelItem => item.Name)</b>
                                    </div>
                                    <div>
                                        Level @Html.DisplayFor(modelItem => item.Level) @Html.DisplayFor(modelItem => item.Race) @Html.DisplayFor(modelItem => item.Class) 
                                    </div>
                                </td>
                            </tr>
                   
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <p><b>No players are currently in this campaign.
                                    @if(!@Model.Campaign.AppUserID.Equals((dynamic) @TempData["ThisUsersID"] as string))
                                    {
                                        @Html.ActionLink("Be the first to join", "JoinCampaignReroute","CampaignListings", new{CampaignListingId = @Model.Id}, null)  
                                    }
                                </b></p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                @if((bool)@TempData["UserIsInCampaign"])
                {
                    <input type="button" class="btn btn-primary" value="View Chat" onclick="location.href='@Url.Action("GroupMessages","CampaignListings",new {id = @Model.Id})'" />
                }
                <input type="button" class="btn btn-primary" value="Back To List" onclick="location.href='@Url.Action("Index","CampaignListings")'" />
            </div>
        </div>
    </body>
</html>

