@model Tavern.Models.CampaignListing

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Campaign.CampaignName)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Campaign.WorldName)</h4>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Campaign Details
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Campaign.Details)
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Current Players</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Players != null)
            {
                @foreach(var item in Model.Players)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Class)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                }
            }
            else
            {
                <td>
                    No active players currently.
                </td>
            }
        </tbody>
    </table>
</div>
<div>
     <input type="button" class="btn btn-primary" value="Back To List" onclick="location.href='@Url.Action("Index","CampaignListings")'" />
</div>
