@model IEnumerable<Tavern.Models.CampaignListing>
@using Microsoft.AspNetCore.Identity
@using Tavern.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Current Listings</h1>

<html>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <b>Listed Campaigns</b>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if(Model.Count() == 0)
                {
                    <tr>
                        <td>
                            No active listings currently. <a href="/Campaigns/Index">Create a campaign and be the first!</a>
                        </td>
                    </tr>
                }
                @if(SignInManager.IsSignedIn(User))
                {
                    @foreach (var item in Model) 
                    {
                        <tr>
                            @if (@ViewBag.AppUserID == @item.AppUserID)
                            {
                                <td>
                                    <div>
                                        <img src="@Util.getCampaignImageById(@item.Campaign.CampaignImg)" class="list-img">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <b>@Html.DisplayFor(modelItem => item.Campaign.CampaignName)</b>
                                        <br />
                                        @Html.DisplayFor(modelItem => item.Campaign.WorldName)
                                    </div>
                                </td>
                                <td>
                                   <input type="button" class="btn btn-primary" value="Details" 
                                               onclick="location.href='@Url.Action("Details","CampaignListings",new {id = @item.Id})'" /> |

                                   <input type="button" class="btn btn-primary" value="Edit" 
                                               onclick="location.href='@Url.Action("Edit","CampaignListings",new {id = @item.Id})'" />
                                   <hr />
                                   <form  asp-asp-controller="CampaignListings" asp-action="Delete" method="post" asp-route-id="@item.Id" 
                                                onclick="return confirm('Are you sure you want to delist @item.Campaign.CampaignName?\n\n All players will be removed, and any chat history deleted')">
                                        <input type="submit" value="Delist Campaign" class="btn btn-danger"/>
                                   </form>

                                </td>
                            }
                            else if (@item.UserIsInCampaign(@ViewBag.ListingsMap, @item.Id, @ViewBag.AppUserID))
                            {
                                <td>
                                    <div>
                                        <img src="@Util.getCampaignImageById(@item.Campaign.CampaignImg)" class="list-img">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <b>@Html.DisplayFor(modelItem => item.Campaign.CampaignName)</b>
                                        <br />
                                        @Html.DisplayFor(modelItem => item.Campaign.WorldName)
                                    </div>
                                </td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="Details" 
                                               onclick="location.href='@Url.Action("Details","CampaignListings",new {id = @item.Id})'" />

@*                                    <input type="button" class="btn btn-danger" value="Leave Campaign" 
                                               onclick="location.href='@Url.Action("LeaveCampaign","CampaignListings",new {id = @item.Id})'" />*@
                                    <hr />
                                    <form  asp-asp-controller="CampaignListings" asp-action="LeaveCampaign" asp-route-id="@item.Id"
                                           onclick="return confirm('Are you sure you want to leave @item.Campaign.CampaignName?')">
                                           <input type="submit" value="Leave Campaign" class="btn btn-danger"/>
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div>
                                        <img src="@Util.getCampaignImageById(@item.Campaign.CampaignImg)" class="list-img">
                                    </div>
                                </td>                                
                                <td>
                                    <div>
                                        <b>@Html.DisplayFor(modelItem => item.Campaign.CampaignName)</b>
                                        <br />
                                        @Html.DisplayFor(modelItem => item.Campaign.WorldName)
                                    </div>
                                </td>
                                <td>
                                    @using (@Html.BeginForm("JoinCampaignReroute", "CampaignListings"))
                                    {
                                        <input type="button" class="btn btn-primary" value="Details" onclick="location.href='@Url.Action("Details","CampaignListings",new {id = @item.Id})'" />
                                        <input type="hidden" name="CampaignListingID" value="@item.Id" />
                                        <input type="submit" class="btn btn-primary" value="Join Campaign" />
                                    }
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div>
                                    <img src="@Util.getCampaignImageById(@item.Campaign.CampaignImg)" class="list-img">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <b>@Html.DisplayFor(modelItem => item.Campaign.CampaignName)</b>
                                    <br />
                                    @Html.DisplayFor(modelItem => item.Campaign.WorldName)
                                </div>
                            </td>
                            <td>
                                <input type="button" class="btn btn-primary" value="Details" onclick="location.href='@Url.Action("Details","CampaignListings",new {id = @item.Id})'" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </body>
</html>
