@model IEnumerable<Tavern.Models.Character>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Your Characters</h1>

<p>
    <input type="button" class="btn btn-primary" value="Create New Character" onclick="location.href='@Url.Action("Create","Characters")'" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p><b>Available Characters</b></p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <div>
                    <b>@Html.DisplayFor(modelItem => item.Name)</b>
                </div>
                <div>
                    <p>Level @Html.DisplayFor(modelItem => item.Level) @Html.DisplayFor(modelItem => item.Race) @Html.DisplayFor(modelItem => item.Class)</p>
                </div>
                
            </td>
            <td>
                @using(Html.BeginForm("JoinCampaign","CampaignListings"))
                {
                <input type="hidden" name="UserID" value="@item.AppUserID" />
                <input type="hidden" name="CharaID" value="@item.Id" />
                <input type="hidden" name="ListingID" value= @TempData["CampaignListingID"] />
                <input type="submit" class="btn btn-primary" value="Join Campaign" />
                }
            </td>
        </tr>
}
    </tbody>
</table>

