@model IEnumerable<Tavern.Models.Character>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div>
    <input type="button" class="btn btn-primary" value="Create New" onclick="location.href='@Url.Action("Create","Characters")'" />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alignment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Race)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alignment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
                <td>
                    <div class="form-group">
                        @using (Html.BeginForm("Create", "Characters"))
                        {
                            <input type="hidden" name="id" value="@item.Id" />

                        }
                        <input type="button" class="btn btn-primary" value="Edit" onclick="location.href='@Url.Action("Edit","Characters",new {id = @item.Id})'" />
                        <input type="button" class="btn btn-primary" value="Details" onclick="location.href='@Url.Action("Details","Characters",new {id = @item.Id})'" />
                        <input type="button" class="btn btn-primary" value="Delete" onclick="location.href='@Url.Action("Delete","Characters",new {id = @item.Id})'" />
                    </div>

                </td>
        </tr>
}
    </tbody>
</table>
