@model IEnumerable<Tavern.Models.Character>
@using Tavern.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Your Characters</h1>

<div>
    <input type="button" class="btn btn-primary" value="Create New" onclick="location.href='@Url.Action("Create","Characters")'" />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <p><b>Characters</b></p>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <div>
                    <img src="@Util.getCharacterImageById(@item.CharacterImg)" class="list-img">
                </div>
            </td>
            <td>
                <div>
                    <b>@Html.DisplayFor(modelItem => item.Name)</b>
                </div>
                <div>
                    <p>Level @Html.DisplayFor(modelItem => item.Level) @Html.DisplayFor(modelItem => item.Race) @Html.DisplayFor(modelItem => item.Class)</p>
                </div>
                
            </td>
            <td>
                <input type="button" class="btn btn-primary" value="Edit" onclick="location.href='@Url.Action("Edit","Characters",new {id = @item.Id})'" />
                <input type="button" class="btn btn-primary" value="Details" onclick="location.href='@Url.Action("Details","Characters",new {id = @item.Id})'" />
                <input type="button" class="btn btn-primary" value="Delete" onclick="location.href='@Url.Action("Delete","Characters",new {id = @item.Id})'" />
            </td>
        </tr>
}
    </tbody>
</table>
